.bg {
    width: 100%;
    height: auto;
    background-color: rgba(232, 236, 246, 1);

    .container {
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-top: 29px;

        h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;

        }

        .main {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 32px;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 12px;

            h2 {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;

            }

            .block {
                display: flex;
                flex-direction: column;
                gap: 13px;
                margin-bottom: 25px;

                h3 {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;

                }

                p {
                    color: red;
                }

                .category_container {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 14px;

                    .category {
                        background-color: rgba(240, 240, 240, 1);
                        border-radius: 47px;
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30.8px;
                        letter-spacing: 0%;
                        color: rgba(51, 51, 51, 1);
                        text-align: center;
                        padding: 10px 19px;
                        cursor: pointer;
                    }

                    .category_active {
                        background-color: var(--text-blue);
                        border-radius: 47px;
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30.8px;
                        letter-spacing: 0%;
                        color: rgb(255, 255, 255);
                        text-align: center;
                        padding: 10px 19px;
                        cursor: pointer;
                    }
                }

                .input_container {
                    width: 357px;
                    height: 50px;
                    // background-color: aqua;

                    .input {
                        width: 357px !important;
                        height: 50px !important;
                        background-color: rgba(240, 240, 240, 1);
                        border-radius: 10px;
                    }
                }

                .button_container {
                    max-width: 300px;
                }
            }
        }
    }
}